PORT=5050
NODE_ENV=development

PG_HOST=localhost
PG_PORT=5432
PG_DB=grocery_db
PG_USER=postgres
PG_PASSWORD=change_me

MONGO_URI=mongodb://127.0.0.1:27017/grocery_notifications

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

NOTIFICATION_EMAIL=admin@example.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=change_me

LOG_LEVEL=info

LOW_STOCK_CRON=0 0 * * *
MAX_ORDER_LIMIT=50

CLIENT_URL=http://localhost:3000

GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me
